@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9839 0.0015 264.5464);
  --foreground: oklch(0.2639 0.0102 264.3844);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2639 0.0102 264.3844);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2639 0.0102 264.3844);
  --primary: oklch(0.5015 0.1162 251.3013);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.9377 0.002 264.5446);
  --secondary-foreground: oklch(0.3617 0.0158 264.357);
  --muted: oklch(0.9612 0.0012 264.547);
  --muted-foreground: oklch(0.4973 0.0233 264.3376);
  --accent: oklch(0.8823 0.0038 264.5379);
  --accent-foreground: oklch(0.2639 0.0102 264.3844);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.9062 0.003 264.541);
  --input: oklch(1 0 0);
  --ring: oklch(0.5015 0.1162 251.3013);
  --chart-1: oklch(0.5194 0.2057 269.1572);
  --chart-2: oklch(0.5797 0.2102 312.3258);
  --chart-3: oklch(0.6481 0.1903 352.7635);
  --chart-4: oklch(0.7355 0.1423 79.1301);
  --chart-5: oklch(0.6074 0.1384 150.8626);
  --sidebar: oklch(0.2639 0.0102 264.3844);
  --sidebar-foreground: oklch(0.9839 0.0015 264.5464);
  --sidebar-primary: oklch(0.5015 0.1162 251.3013);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.3138 0.0131 264.3681);
  --sidebar-accent-foreground: oklch(0.9839 0.0015 264.5464);
  --sidebar-border: oklch(0.3617 0.0158 264.357);
  --sidebar-ring: oklch(0.5015 0.1162 251.3013);
  --font-sans:
    'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono:
    'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --radius: 0.25rem;
  --shadow-x: 0;
  --shadow-y: 0.1rem;
  --shadow-blur: 0.3rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.08;
  --shadow-color: hsl(220, 10%, 15%);
  --shadow-2xs: 0 0.1rem 0.3rem 0 hsl(220 10% 15% / 0.04);
  --shadow-xs: 0 0.1rem 0.3rem 0 hsl(220 10% 15% / 0.04);
  --shadow-sm:
    0 0.1rem 0.3rem 0 hsl(220 10% 15% / 0.08),
    0 1px 2px -1px hsl(220 10% 15% / 0.08);
  --shadow:
    0 0.1rem 0.3rem 0 hsl(220 10% 15% / 0.08),
    0 1px 2px -1px hsl(220 10% 15% / 0.08);
  --shadow-md:
    0 0.1rem 0.3rem 0 hsl(220 10% 15% / 0.08),
    0 2px 4px -1px hsl(220 10% 15% / 0.08);
  --shadow-lg:
    0 0.1rem 0.3rem 0 hsl(220 10% 15% / 0.08),
    0 4px 6px -1px hsl(220 10% 15% / 0.08);
  --shadow-xl:
    0 0.1rem 0.3rem 0 hsl(220 10% 15% / 0.08),
    0 8px 10px -1px hsl(220 10% 15% / 0.08);
  --shadow-2xl: 0 0.1rem 0.3rem 0 hsl(220 10% 15% / 0.2);
  --tracking-normal: 0.015em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1897 0.0059 264.4247);
  --foreground: oklch(0.9191 0.0074 264.525);
  --card: oklch(0.1557 0.0039 264.4555);
  --card-foreground: oklch(0.9191 0.0074 264.525);
  --popover: oklch(0.1557 0.0039 264.4555);
  --popover-foreground: oklch(0.9191 0.0074 264.525);
  --primary: oklch(0.5015 0.1162 251.3013);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.2639 0.0102 264.3844);
  --secondary-foreground: oklch(0.9191 0.0074 264.525);
  --muted: oklch(0.2328 0.0084 264.3981);
  --muted-foreground: oklch(0.7561 0.0157 264.4747);
  --accent: oklch(0.3138 0.0131 264.3681);
  --accent-foreground: oklch(0.9191 0.0074 264.525);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.2941 0.0119 264.3739);
  --input: oklch(0.2639 0.0102 264.3844);
  --ring: oklch(0.5015 0.1162 251.3013);
  --chart-1: oklch(0.6205 0.1579 272.5078);
  --chart-2: oklch(0.6649 0.168 313.4179);
  --chart-3: oklch(0.724 0.145 350.0206);
  --chart-4: oklch(0.785 0.1251 82.3759);
  --chart-5: oklch(0.7155 0.1654 150.7185);
  --sidebar: oklch(0.1557 0.0039 264.4555);
  --sidebar-foreground: oklch(0.9191 0.0074 264.525);
  --sidebar-primary: oklch(0.5015 0.1162 251.3013);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.2639 0.0102 264.3844);
  --sidebar-accent-foreground: oklch(0.9191 0.0074 264.525);
  --sidebar-border: oklch(0.2941 0.0119 264.3739);
  --sidebar-ring: oklch(0.5015 0.1162 251.3013);
  --font-sans:
    'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono:
    'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --radius: 0.25rem;
  --shadow-x: 0;
  --shadow-y: 0.15rem;
  --shadow-blur: 0.4rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.25;
  --shadow-color: hsl(220, 10%, 2%);
  --shadow-2xs: 0 0.15rem 0.4rem 0 hsl(220 10% 2% / 0.13);
  --shadow-xs: 0 0.15rem 0.4rem 0 hsl(220 10% 2% / 0.13);
  --shadow-sm:
    0 0.15rem 0.4rem 0 hsl(220 10% 2% / 0.25),
    0 1px 2px -1px hsl(220 10% 2% / 0.25);
  --shadow:
    0 0.15rem 0.4rem 0 hsl(220 10% 2% / 0.25),
    0 1px 2px -1px hsl(220 10% 2% / 0.25);
  --shadow-md:
    0 0.15rem 0.4rem 0 hsl(220 10% 2% / 0.25),
    0 2px 4px -1px hsl(220 10% 2% / 0.25);
  --shadow-lg:
    0 0.15rem 0.4rem 0 hsl(220 10% 2% / 0.25),
    0 4px 6px -1px hsl(220 10% 2% / 0.25);
  --shadow-xl:
    0 0.15rem 0.4rem 0 hsl(220 10% 2% / 0.25),
    0 8px 10px -1px hsl(220 10% 2% / 0.25);
  --shadow-2xl: 0 0.15rem 0.4rem 0 hsl(220 10% 2% / 0.63);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
